@model File

<div class="file" data-window-href="/fs/file/@Model.Id">
    <i class="file icon"></i>
    <small>
        <span>@Model.Name</span>
        @if (!string.IsNullOrEmpty(Model.FileExtension)) {
            <span>.@Model.FileExtension</span>
        }
    </small>
</div>