<aside id="welcome" class="wallpaper">
    <div>
        <h1>Welcome back, @User.FindFirstValue(ClaimTypes.Name)</h1>
        <h2>Hope you are doing well, today! 😸</h2>
    </div>
</aside>

<partial name="_File" model="new File()" />

<div id="selection-rect" class="hidden"></div>

<template id="window-template">
    <section class="window" onmousedown="dragStartWindow(event)">
        <nav class="ui top attached menu">
            <aside class="right menu">
                <button class="ui red icon button item" onclick="closeWindow($(this).closest(`.window`))">
                    <i class="times icon"></i>
                </button>
            </aside>
        </nav>
        <iframe class="ui bottom attached menu"></iframe>
    </section>
</template>