<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chloe OS</title>
    <link rel="icon" href="/" />
    <link rel="stylesheet" href="~/lib/semantic/semantic.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/styles/desktop.css" asp-append-version="true"/>
    <script defer src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script defer src="~/lib/semantic/semantic.min.js"></script>
    <script defer src="~/scripts/main.js"></script>
    <script defer src="~/scripts/desktop/clock.js"></script>
    <script defer src="~/scripts/desktop/contextmenu.js"></script>
    <script defer src="~/scripts/desktop/files.js"></script>
    <script defer src="~/scripts/desktop/selection.js"></script>
    <script defer src="~/scripts/desktop/settings.js"></script>
    <script defer src="~/scripts/desktop/welcome.js"></script>
    <script defer src="~/scripts/desktop/window.js"></script>
</head>
<body>
    <header>
        <nav id="task-bar" class="ui menu">
            <div id="start" class="ui top left pointing dropdown item">
                <button class="ui button" onclick="$(this).parent().dropdown({ clearable: true })">
                    <img src="~/images/pawprint.png"
                         alt="Cat Paw Print"
                         longdesc="Pet icons created by Freepik - Flaticon"
                    />
                </button>
                <div class="menu">
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Applications</span>
                        <div class="menu">
                            <div class="item">
                                <i class="file code icon"></i>
                                PawEdit
                            </div>
                            <div class="item">
                                <i class="terminal icon"></i>
                                Terminal
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Tools</span>
                        <div class="menu">
                            <div class="item">
                                <i class="users icon"></i>
                                Users
                            </div>
                            <div class="item">
                                <i class="terminal icon"></i>
                                Terminal
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="item">Settings</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Shutdown / Sign-Out</span>
                        <div class="menu">
                            <div class="item">
                                <i class="sign-out icon"></i>
                                Sign-Out
                            </div>
                            <div class="item">
                                <i class="power off icon"></i>
                                Shutdown
                            </div>
                        </div>
                    </div>
                    <div class="item" data-settings="about">About Chloe OS</div>
                </div>
            </div>
            <aside id="tray-icons" class="right menu">
                <div class="item">
                    <i class="wifi icon"></i>
                </div>
                <div class="item">
                    <small id="system-clock"></small>
                </div>
            </aside>
        </nav>
    </header>
    <main role="main" id="desktop" class="wallpaper" ondblclick="event.preventDefault()">
        @RenderBody()
    </main>
</body>
</html>