@model File

<div class="file" onclick="selectFile(event)" ondblclick="openFile()" data-file-id="9c39e71d-212c-40b4-a96d-e195e3ea5b21">
    <i class="folder icon"></i>
    <small>New Folder</small>
</div>