<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chloe OS</title>
    <link rel="icon" href="/" />
    <link rel="stylesheet" href="~/lib/semantic/semantic.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/styles/signon.css" asp-append-version="true"/>
    <script defer src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script defer src="~/lib/semantic/semantic.min.js"></script>
    <script defer src="~/scripts/main.js"></script>
    <script defer src="~/scripts/signon.js"></script>
</head>
<body class="wallpaper">
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>